{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Djancial</title>

    {% include 'includes/stylesheets.html' %}
    {% csrf_token %}

</head>
<body>
<div class="theme-layout">

    <div class="topbar stick">


        <div class="top-area">
            <ul>
                <li><a href="{% url 'home:home' %}" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
                <li><a href="{% url 'communications:all-messages' %}" class="link">Messenger</a></li>
                <li><a href="{% url 'todo:todo' %}" class="link">Notes</a></li>
                <li>
                    <a href="{% url 'friends:accept-friends' %}" title="Notification" data-ripple="">
                        <i class="ti-user"></i><span id="total-friend-notifications"></span>
                    </a>

                </li>
                <li><a href="{% url 'todo:todo_notifications' %}" class="link">Notifications<sub style="color:blue;">({{notifications.count}})</sub></a></li>

            </ul>
            <div class="user-img">
                <img src="{{ request.user.userprofile.profile_image.url }}" alt="" style="height: 40px; width: 40px;">
                <span class="status f-online"></span>
                <div class="user-setting">
                    <a href="{% url 'userprofile:user-timeline' user.username %}" title=""><i class="ti-user"></i> view profile</a>
                    <a href="{% url 'userprofile:edit-profile' %}" title=""><i class="ti-pencil-alt"></i>edit profile</a>
                    <a href="{% url 'accounts:logout' %}" title=""><i class="ti-power-off"></i>log out</a>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block content %}
    {% endblock %}

{% include 'includes/scripts.html' %}
{% block scripts %}{% endblock %}

</body>
</html>